.menubar {
  height: 100vh;
  min-width: 75px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 4px;
  position: sticky;
  top:  85px;
  background-color: var(--bg-color);
}
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  padding-block: 10px;
  color: var(--txt-color);
}
.option svg {
  font-size: 25px;
}
